.App {
  text-align: center;
}

.HobbiesList {

  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Hobbies {

  border: 2px solid black;
  width: 200px;
  font-size: 25px;
}